<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.techjumper.polyhome_b.adlib">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <service android:name=".services.WakeupAdService"
                 android:process=":remote"
            />
        <service android:name=".services.AlarmService"
                 android:process=":remote"
            />
        <service android:name=".services.AdStatService"
                 android:process=":remote"
            />

        <receiver
            android:name=".receiver.CommonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="action_close_ad_window"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
